# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env

# AWS & Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
.aws/
creds/
*.pem
*.key
*.cer

# Docker
docker/elasticsearch-data/
docker/logstash-pipeline/
docker/filebeat-data/
# General Docker
.docker/

# IDE
.vscode/
.idea/
.DS_Store

# Logs
*.log
